.nameField{
  margin-right:20px;
}
.nametext{
  margin-right:50px;
}
.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}
label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.rating {
  direction: rtl;             
  display: inline-flex;
}

.rating input {
  display: none;             
}

.rating label {
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}


.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}


.rating input:checked ~ label {
  color: gold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

table {
  width: 100%;
  table-layout: fixed; 
  border:none;
}

th, td {
  width: 33.33%;  
  padding: 10px;
  border:none;
  text-align: left;
}
